<fieldset>
  <div class="row-fluid sortable">
    <div class="box span6">
      <div class="box-content">
        <div class="control-group">
          <%= f.label :invoice_number, "Invoice Number", :class => "control-label" %>
          <div class="controls invoice_number">
            <%= f.text_field :invoice_number, :class=>"input-xlarge", :placeholder => "invoice number here ..", :autofocus => true, :readonly => true, :value => @invoice_number %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :transaction_date, "Invoice Date", :class => "control-label"%>
          <div class="controls transaction">
            <%= f.text_field :transaction_date, :class=>"input-xlarge", :placeholder => "date here ..", :value => @invoice_date %>
          </div>
        </div>
      </div>
    </div>
    <div class="box span6">
      <div class="box-content">
        <div class="control-group">
          <%= f.label :customer_id, "Customer Name", :class => "control-label" %>
          <div class="controls customer">
            <%= f.select :customer_id, options_from_collection_for_select(@customers, "id","full_id"),{:prompt => 'Choose Customer'}, :data => { :validation => "required", "validation-error-msg" => "Customer belum dipilih", :rel=>"chosen", :required => true } if @customers %>
          </div>
        </div>
        <%= f.fields_for :customer do |f| %>
        <div class="control-group">
          <%= f.label :address, "Address", :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :address, :rows => 2, :disabled => 'disabled', :class=>"input-xlarge", :placeholder => "customer address here .." %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :phone, "Phone", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :phone, :disabled => 'disabled', :class=>"input-xlarge", :placeholder => "phone number here .." %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <%= render 'sales_invoice_details_table', f: f %>
  <%= link_to_add_fields("Add a Item", f, :sales_invoice_details, :class => "btn btn-primary addItem", style: "display: none;") %>
</fieldset>

<fieldset>
  <div class="row-fluid sortable">
    <div class="span6"></div>
    <div class="box span6">
      <div class="box-content">
        <div class="control-group">
          <%= f.label :total, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :total, :class=>"input-xlarge total_invoice", :readonly => true, value: 0 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :discount, "Potongan Harga", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :discount, :class=>"input-xlarge discount number", value: 0 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :down_payment, "Uang Muka", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :down_payment, :class=>"input-xlarge down_payment number", value: 0 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :ppn, "PPN(10%)", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :ppn, :class=>"input-xlarge ppn_invoice", :readonly => true, value: 0 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :grand_total, :class => "control-label"%>
          <div class="controls">
            <%= f.text_field :grand_total, :class=>"input-xlarge grand_total_invoice", :readonly => true, value: 0 %>
          </div>
        </div>

      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="form-actions">
    <%= f.submit 'Save changes', :class => "btn btn-primary" %>
    <button id="cancel-edit" class="btn">Cancel</button>
  </div>
</fieldset>

<script type="text/javascript">
  $(document).ready(function () {
    $('#sales_invoice_transaction_date').datepicker({ 
      dateFormat: "yy-mm-dd",
      onSelect: function(dateText, inst) {
        $.ajax({
          url: '/return_so_number/'+dateText,
          type: 'GET',
          success: function(data){ $("#sales_invoice_invoice_number").val(data); },
          error: function(data){}
        });
      }
    });
  });
</script>