<div id="content" class="span10">
  <!-- content starts -->
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-header well" data-original-title>
        <h2><i class="icon-user"></i> Sales Orders</h2>
        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
          <thead>
            <tr>
              <td colspan="1"></td>
              <% if current_user.is_admin? %>
                <td class="right">
                  <%= link_to "#", id: 'reset_data', :"data-member" => "sales_invoices", remote: true do %>
                  <i class="icon-trash"></i> Reset
                  <% end %>
                </td>
              <% end %>
              <td class="right">
                <%= link_to new_sales_invoice_path(type: 'Dollar') do %>
                  <i class="icon-plus"></i>
                  Baru($)
                <% end %>
              </td>
              <td class="right">
                <%= link_to new_sales_invoice_path(type: 'Rupiah') do %>
                  <i class="icon-plus"></i>
                  Baru(Rp)
                <% end %>
              </td>
              <td class="right">
                <%= link_to export_sales_invoices_path(format: "xls") do %>
                  <i class="icon-folder-open"></i> Export
                <% end %>
              </td>
            </tr>
            <tr>
              <th>#Invoice</th>
              <th>Tanggal</th>
              <th>Customer</th>
              <th>Total Penjualan</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @sales_invoices.each do |sales_invoice| %>
              <tr>
                <td><%= sales_invoice.invoice_number %></td>
                <td class="center"><%= sales_invoice.transaction_date.to_formatted_s(:long) %></td>
                <td class="center"><%= sales_invoice.customer_full_name if sales_invoice.customer %></td>
                <td class="center"><%= sales_invoice.currency_type? ? number_to_currency(sales_invoice.total_sales_orders) : number_to_currency(sales_invoice.total_sales_orders, unit: "Rp") %></td>
                <td class="center">
                  <%= link_to sales_invoice_path(sales_invoice) do %>
                    <i class="icon-eye-open"></i>
                    View
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div>