 <div id="page-wrap">

      <textarea id="header">INVOICE</textarea>
      
      <div id="identity">
      
        <textarea id="address">
          PT. Bandung Bangkit Bersinar
          Jl. Raya Caringin No.439 C
          Babakan Ciparay Bandung

          Phone: (555) 555-5555
        </textarea>

        <div id="logo">

          <div id="logoctr">
            <a href="javascript:;" id="change-logo" title="Change logo">Change Logo</a>
            <a href="javascript:;" id="save-logo" title="Save changes">Save</a>
            |
            <a href="javascript:;" id="delete-logo" title="Delete logo">Delete Logo</a>
            <a href="javascript:;" id="cancel-logo" title="Cancel changes">Cancel</a>
          </div>

          <div id="logohelp">
            <input id="imageloc" type="text" size="50" value="" /><br />
            (max width: 540px, max height: 100px)
          </div>
          <%= wicked_pdf_image_tag "logo.png", :id => "image" %>
        </div>
      
      </div>
      
      <div style="clear:both"></div>
      
      <div id="customer">

        <textarea id="customer-title">
          <%= @sales_invoice.customer_full_name %>
        </textarea>

        <table id="meta">
          <tr>
            <td class="meta-head">Invoice #</td>
            <td><textarea><%= @sales_invoice.invoice_number %></textarea></td>
          </tr>
          <tr>
            <td class="meta-head">Date</td>
            <td><textarea id="date"><%= @sales_invoice.transaction_date.to_formatted_s(:long) %></textarea></td>
          </tr>
          <tr>
            <td class="meta-head">Amount Due</td>
            <td><div class="due"><%= number_to_currency(@sales_invoice.total_sales_orders) %></div></td>
          </tr>
        </table>
      
      </div>
      
      <table id="items">
        <tr>
          <th>No.</th>
          <th>Item</th>
          <th>Description</th>
          <th>Unit Cost</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        <% @sales_invoice.sales_invoice_details.each_with_index do |detail, i| %>
          <tr class="item-row">
            <td class="number"><%= i+1 %></td>
            <td class="item-name">
              <div class="delete-wpr">
                <textarea><%= detail.item_code %></textarea>
                <a class="delete" href="javascript:;" title="Remove row">X</a>
              </div>
            </td>
            <td class="description">
              <textarea><%= detail.item_name %></textarea>
            </td>
            <td><textarea class="cost"><%= number_to_currency(detail.retail_price) %></textarea></td>
            <td><textarea class="qty"><%= number_to_human(detail.qty, units: {unit: "kg"}) %></textarea></td>
            <td><span class="price"><%= number_to_currency(detail.subtotal) %></span></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="6" style="border-top: none;">
          <!-- <a id="addrow" href="javascript:;" title="Add a row">Add a row</a> -->
          </td>
        </tr>
  <!--       <tr>
          <td colspan="3" class="blank"> </td>
          <td colspan="2" class="total-line">Subtotal</td>
          <td class="total-value"><div id="subtotal">$875.00</div></td>
        </tr> -->
        <tr>
          <td colspan="3" class="blank"> </td>
          <td colspan="2" class="total-line">Total</td>
          <td class="total-value"><div id="total"><%= number_to_currency(@sales_invoice.total_sales_orders) %></div></td>
        </tr>
        <tr>
          <td colspan="3" class="blank"> </td>
          <td colspan="2" class="total-line">Tax Amount</td>
          <td class="total-value"><textarea id="paid"><%= number_to_currency(@sales_invoice.total_ppn) %></textarea></td>
        </tr>
        <tr>
          <td colspan="3" class="blank"> </td>
          <td colspan="2" class="total-line balance">Balance Due</td>
          <td class="total-value balance"><div class="due"><%= number_to_currency(@sales_invoice.grand_total) %></div></td>
        </tr>
      </table>
      
      <div id="terms">
        <h5>Terms</h5>
        <textarea>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
      </div>
    
    </div>