<fieldset>
  <div class="row-fluid sortable">
    <div class="box span6">
      <div class="box-content">
        <div class="control-group">
          <%= f.label :po_number, "Invoice Number", :class => "control-label" %>
          <div class="controls po_number">
            <%= f.text_field :po_number, :class=>"input-xlarge", :placeholder => "invoice number here ..", :autofocus => true, :readonly => true, :value => @po_number %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :po_date, "PO Date", :class => "control-label" %>
          <div class="controls po_date">
            <%= f.text_field :po_date, :class=>"input-xlarge", :placeholder => "date here ..", :readonly => true, :value => @po_date %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :spph_number, "SPPH Number", :class => "control-label" %>
          <div class="controls spph_number">
            <%= f.text_field :spph_number, :class=>"input-xlarge", :placeholder => "spph number here .." %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :spph_date, "SPPH Date", :class => "control-label" %>
          <div class="controls spph_date">
            <%= f.text_field :spph_date, :class=>"input-xlarge", :placeholder => "spph date here .." %>
          </div>
        </div>        
      </div>
    </div>
    <div class="box span6">
      <div class="box-content">
        <div class="control-group">
          <%= f.label :supplier_id, "Supplier Name", :class => "control-label" %>
          <div class="controls supplier">
            <%= f.select :supplier_id, options_from_collection_for_select(@suppliers, "id","full_id"),{:prompt => 'Choose Supplier'} if @suppliers %>
          </div>
        </div>
        <%= f.fields_for :supplier do |f| %>
          <div class="control-group">
            <%= f.label :address, "Address", :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :address, :rows => 2, :disabled => 'disabled', :class=>"input-xlarge", :placeholder => "supplier address here .." %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :phone, "Phone", :class => "control-label" %>
              <div class="controls">
                <%= f.text_field :phone, :disabled => 'disabled', :class=>"input-xlarge", :placeholder => "phone number here .." %>
              </div>
          </div>
          <div class="control-group">
            <%= f.label :contact_person, "Sales Person", :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :contact_person, :disabled => 'disabled', :class=>"input-xlarge", :placeholder => "contact person here .." %>
            </div>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <%= render 'purchase_order_details_table', f: f %>
  <%= link_to_add_fields("Add a Item", f, :purchase_order_details, :class => "btn btn-primary addItem", style: "display: none;") %>
</fieldset>

<fieldset>
  <div class="form-actions">
    <%= f.submit 'Save changes', :class => "btn btn-primary" %>
    <button id="cancel-edit" class="btn">Cancel</button>
  </div>
</fieldset>

<script type="text/javascript">
  $(document).ready(function () {
    $('#purchase_order_spph_date').datepicker({ dateFormat: "yy-mm-dd" });
  });
</script>