<tr>
  <td><%= po_item.code %></td>
  <td><%= po_item.name %></td>
  <td><%= text_field_tag "purchase_order[item_qtys][#{po_item.id}]" ,0, :class => "input-mini item-qty" %></td>
  <td class="item-price"><%= po_item.supplier_items.find_by_supplier_id(supplier.id).purchase_price %></td>
  <td class="item-subtotal">0</td>
  <td><%= text_field_tag :notes %></td>
</tr>

<script type="text/javascript">
  $('.item-qty').each(function(index,value){
    $(this).keyup(function() {
      var value = $(this).val() * $(this).parents("tr").find('.item-price').text();
      $(this).parents("tr").find("td.item-subtotal").text(value);
      return false;
    });
  });
</script>