<div id="new-item-fields" class="modal fade" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div class="box-content">
      <fieldset>
        <div class="control-group" id="items_selected">
        </div>
        <%= f.hidden_field :item_id, :class => "item_id input", :required => true, :readonly => true %>
        <div class="control-group">
          <%= f.label "Category", :class => "control-label" %>
          <div class="controls">
            <%= text_field_tag :category_name, nil, :class => "category_name input", :required => true, :readonly => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :price, "Harga", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :price, :class => "purchase_price input field", :required => true, :readonly => true, :data => { :validation => "required", "validation-error-msg" => "harga harus diisi" } %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :qty, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :qty, :class => "input field number", :required => true, :readonly => true, :data => { :validation => "required", "validation-error-msg" => "qty harus diisi" } %> 
          </div>
        </div>
        <div class="control-group">
          <%= f.label :subtotal, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :subtotal, :class => "subtotal input field", :required => true, :readonly => true, :data => { :validation => "required", "validation-error-msg" => "qty harus diisi" } %> 
          </div>
        </div>
      </fieldset>
      <%= f.hidden_field(:_destroy, :class => "field") %>
    </div>
  </div>
  <div class="modal-footer">
    <button id="addButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Add</button>
    <button id="cancelButton" type="button" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
  <script type="text/javascript">
    itemFieldsUI.init();
  </script>
</div>

<script type="text/javascript">
  $(".number").keyup(function(event) {

    if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
      (event.keyCode == 65 && event.ctrlKey === true) || 
      (event.keyCode >= 35 && event.keyCode <= 39)) {
      return;
    }
    else {
      if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
        event.preventDefault(); 
      }   
    }

    var price = $('.purchase_price').val();
    var qty = this.value;
    var values = price * qty;
    $('.subtotal').val(parseFloat(values));

  });

  $(".addItem").click(function() {
    var supplier_id = $("#purchase_order_supplier_id").val();
    if(supplier_id){
      $.ajax({
        url: '/purchase_orders/new',
        type: 'GET',
        data: {
          sp_id: supplier_id
        },
        success: function(data) {},
        error: function(data){},
      });
    }
  });

</script>