<!-- left menu starts -->
<div class="span2 main-menu-span">
  <div class="well nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="nav-header hidden-tablet">Main</li>
      <li>
        <%= link_to root_path do %>
          <i class="icon-home"></i>
          <span class="hidden-tablet"> Dashboard</span>
        <% end %>
      </li>
      <li class="nav-header hidden-tablet">Data Master</li>
      <% if can?(:manage, User) %>
        <li>
          <%= link_to users_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Users</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, Supplier) %>
        <li>
          <%= link_to suppliers_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Suppliers</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, Item) %>
        <li>
          <%= link_to items_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Items</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, MixItem) %>
        <li>
          <%= link_to mix_items_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Mix Items</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, Customer) %>
        <li>
          <%= link_to customers_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Customers</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, Category) %>
        <li>
          <%= link_to categories_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Categories</span>
          <% end %>
        </li>
      <% end %>
      <li class="nav-header hidden-tablet">Transaksi</li>
      <% if can?(:manage, PurchaseOrder) %>
        <li>
          <%= link_to purchase_orders_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Purchase Orders</span>
          <% end %>
        </li>
        <li>
          <%= link_to receive_orders_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Receive Orders</span>
          <% end %>
        </li>
        <li>
          <%= link_to manage_stocks_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Manage Stock</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, SalesInvoice) %>
        <li>
          <%= link_to sales_invoices_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Sales Orders</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, SupplierPayment) %>
        <li class="nav-header hidden-tablet">Payment</li>
        <% if can?(:manage, SupplierPayment) || can?(:manage, CustomerPayment)%>
          <li>
            <%= link_to supplier_payments_path do %>
              <i class="icon-align-justify"></i>
              <span class="hidden-tablet">Supplier Payments</span>
            <% end %>
          </li>
        <% end %>
        <% if can?(:manage, CustomerPayment) %>
          <li>
            <%= link_to customer_payments_path do %>
              <i class="icon-align-justify"></i>
              <span class="hidden-tablet">Customer Payments</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <% if can?(:read, Report) %>
        <li class="nav-header hidden-tablet">Reports</li>
        <li>
          <%= link_to reports_path do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Reports</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, Company) %>
        <li class="nav-header hidden-tablet">Settings</li>
        <li>
          <%= link_to edit_company_path(Company.first) do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Company</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
