<%= form_for(@rek_account) do |f| %>
<fieldset>
  <div class="control-group">
    <%= f.label :number, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :number, :class=>"input-xlarge", :placeholder => "name here ..", :required => false, :autofocus => false %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class=>"input-xlarge", :placeholder => "name here ..", :required => false, :autofocus => false %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type_account, :class => "control-label" %>
    <div class="controls">
      <%= select_tag :type_account_id, :class=>"input-xlarge", :placeholder => "phone number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parent_id, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :parent_id, :class=>"input-xlarge", :placeholder => "email address here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tanggal_awal, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :tanggal_awal, :class=>"input-xlarge", :placeholder => "city here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :awal_debit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :awal_debit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :awal_kredit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :awal_kredit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mut_debit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :mut_debit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
   <div class="control-group">
    <%= f.label :mut_kredit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :mut_kredit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sisa_debit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :sisa_debit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sisa_kredit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :sisa_kredit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rl_debit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :rl_debit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rl_kredit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :rl_kredit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nrc_debit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :nrc_debit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nrc_kredit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :nrc_kredit, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posisi, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :posisi, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :normal, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :normal, :class=>"input-xlarge", :placeholder => "npwp number here ..", :required => true %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Save changes', :class => "btn btn-primary" %>
    <button id="cancel-edit" class="btn">Cancel</button>
  </div>
</fieldset>
<% end %>