<div id="content" class="span10">
  <!-- content starts -->
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-header well" data-original-title>
        <h2><i class="icon-edit"></i> Manage Stocks Item</h2>
        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <%= form_for(@items, :html => { :class=>"form-horizontal" }, remote: true ) do |f| %>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Switch</th>
                <th>Current Stock</th>
              </tr>
            </thead>
            <tbody>
              <% @item.first.item.supplier_items.each do |item| %>
                <tr class="supplier_item">
                  <td>
                    <%= item.supplier.first_name %>
                    <%= hidden_field_tag :supplier, item.supplier.id, class: "supplier_ids" %>
                    <%= hidden_field_tag :item_stock, item.item_id, class: "items" %>
                  </td>
                  <td><%= text_field_tag 'items_out', @item.first.qty, class: "item_manage number", :onkeypress=>"return numberValue();", readonly: true %></td>
                  <td>
                    <%= link_to "#", :onclick => "return switchValue(this);" do  %>
                      <span class='icon32 icon-color icon-check'>
                    <% end %>
                    <%= link_to "#", :onclick => "return undoValue(this);" do  %>
                      <span class='icon32 icon-color icon-close'>
                    <% end %>
                  </td>
                  <td><%= item.stock %></td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td>Total</td>
                <td colspan="2"><span id="total_item"><%= @item.first.qty %></span></td>
                <td><span id="total_item"><%= @item.first.item.supplier_items.first.stock %></span></td>
              </tr>
            </tfoot>
          </table>
          <%= hidden_field_tag "invoice_id", params[:invoice_number] %>
          <%= f.submit :submit, class: "btn btn-primary submit_manage" %>
          <%= link_to 'cancel', manage_stocks_path, :class => "ajax-link btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
