<div id="content" class="span10">
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-header well" data-original-title>
        <h2><i class="icon-edit"></i>Item Details</h2>
        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <div class="box-content">
          <ul class="dashboard-list">
            <li>
              <strong>Kode: </strong> <a href="#"><%= @item.code %></a><br>
              <strong>Ci Number: </strong> <a href="#"><%= @item.ci_number if @item.ci_number %></a><br>
              <strong>Nama: </strong> <a href="#"><%= @item.name %></a><br>
              <strong>Alias: </strong> <a href="#"><%= @item.name_alias %></a><br>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-content">
        <div class="span6">
          <h2>List Items In</h2>
          <%= render "items_in", item: @item %>
        </div>
        <div class="span6">
          <h2>List Items Out</h2>
          <%= render "items_out", item: @item %>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-content">
        <h2>List suppliers</h2>
        <%= render "list_suppliers", item: @item %>
      </div>
    </div>
  </div>
  <% if @item.is_mix? %>
    <div class="row-fluid sortable">
      <div class="box span12">
        <div class="box-content">
          <h2>List items for mix</h2>
          <%= render "list_mix_items", item: @item %>
        </div>
      </div>
    </div>
  <% end %>
</div>
