<fieldset>
  <div class="row-fluid sortable">
    <div class="box span6">
      <div class="box-content">
        <div class="control-group">
          <%= f.label :first_name, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :first_name, :class=>"input-xlarge", :placeholder => "first name here ..", :required => true %>
            <i><%= supplier.errors[:first_name].first unless supplier.errors[:first_name].blank? %></i>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :last_name, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :last_name, :class=>"input-xlarge", :placeholder => "last name here ..", :required => true %>
            <i><%= supplier.errors[:last_name].first unless supplier.errors[:last_name].blank? %></i>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :address, :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :address, :class=>"input-xlarge", :placeholder => "address here ..", :rows => 3 %>
            <i><%= supplier.errors[:address].first unless supplier.errors[:address].blank? %></i>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :phone_number, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :phone_number, :class=>"input-xlarge", :placeholder => "phone number here .." %>
            <i><%= supplier.errors[:phone_number].first unless supplier.errors[:phone_number].blank? %></i>
          </div>
        </div>
      </div>
    </div>
    <%= render 'supplier_items', supplier: supplier %>
  </div>
</fieldset>

<fieldset>
  <div class="form-actions">
    <%= f.submit 'Save changes', :class => "btn btn-primary" %>
    <button id="cancel-edit" class="btn">Cancel</button>
    <a href="#" class="btn btn-setting btn-round">Add Items</a>
  </div>
</fieldset>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">
    <div class="fields">
      <%= label_tag "Items Code" %>
    </div>
    <%= f.fields_for :supplier_items do |supplier_item| %>
      <%= text_field_tag :item_code, nil, :class=>"input", :style => "max-width: 80px;" %>
      <%= text_field_tag :item_name, nil, :class=>"input", :style => "max-width: 80px;" %>
      <%= text_field_tag :category_name, nil, :class=>"input", :style => "max-width: 80px;" %>
      <%= supplier_item.text_field :purchase_price, :style => "max-width: 80px;" %>
      <%#= supplier_item.link_to_remove "Hapus" %>
    <% end %>
    <%#= f.link_to_add "Add Items", :supplier_items %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>