<div class="box span6">
  <div class="box-content">
    <h2>List Items</h2>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
      <thead>
        <tr>
          <th>Code Items</th>
          <th>Item</th>
          <th>Category</th>
          <!-- <th>Stock</th> -->
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% supplier.supplier_items.each do |supplier_item| %>
          <tr>
            <td><%= supplier_item.item_code if supplier_item.item %></td>
            <td class="center"><%= supplier_item.item_name if supplier_item.item %></td>
            <td class="center"><%= supplier_item.item.category_name if supplier_item.item %></td>
            <!-- <td class="center">
              <%#= number_to_human(supplier_item.item_stock, units: {unit: "kg"}) if supplier_item.item %>
            </td> -->
            <td class="center"><%= number_to_currency(supplier_item.purchase_price) %></td> 
          </tr>
        <% end %>
      </tbody>
    </table> 
    <%= link_to print_preview_suppliers_path(id: @supplier), { :class=>"btn", :id => 'print_all', :target => "_blank"} do %>
      <i class="icon-print"></i> 
      Print Items
    <% end %>
  </div>
</div><!--/span-->