<div id="content" class="span10">
  <!-- content starts -->
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-header well" data-original-title>
        <h2><i class="icon-edit"></i> Reports</h2>
        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <%= form_for :reports, :html => { :class=>"form-horizontal" } do |f| %>
          <fieldset>
            <div class="row-fluid sortable">
              <div class="box span12">
                <div class="box-content">
                  <h3>Reports by date</h3>
                  <br>
                  <div class="control-group">
                    <%= f.label :report_type, "Select Report", :class => "control-label" %>
                    <div class="controls">
                      <%= f.select :report_type, options_for_select(report_types),{:prompt => 'Choose Report'}, :style=>"width: 97%;", :'data-rel' => 'chosen' %>
                    </div>
                  </div>
                  <div class="control-group item-list" style="display:none">
                    <%= f.label :item_id, "Select Item", :class => "control-label" %>
                    <div class="controls">
                      <%= f.select :item_id, options_from_collection_for_select(@items, "id","name"),{:prompt => 'Choose Item'}, :style=>"width: 97%;" %>
                    </div>
                  </div>
                  <div class="control-group supplier-list" style="display:none">
                    <%= f.label :supplier_id, "Select Supplier", :class => "control-label" %>
                    <div class="controls">
                      <%= f.select :supplier_id, options_from_collection_for_select(@suppliers, "id","full_id"),{:prompt => 'Choose Supplier'}, :style=>"width: 97%;" %>
                    </div>
                  </div>
                  <div class="control-group customer-list" style="display:none">
                    <%= f.label :customer_id, "Select Customer", :class => "control-label" %>
                    <div class="controls">
                      <%= f.select :customer_id, options_from_collection_for_select(@customers, "id","full_id"),{:prompt => 'Choose Customer'}, :style=>"width: 97%;" %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :start_date, "Start Date", :class => "control-label" %>
                    <div class="controls">
                      <%= f.text_field :start_date, :class=>"input-xlarge", :placeholder => "date here ..", :required => true %>
                    </div>
                  </div>
                  <div class="control-group">
                    <%= f.label :end_date, "End Date", :class => "control-label" %>
                    <div class="controls">
                      <%= f.text_field :end_date, :class=>"input-xlarge", :placeholder => "date here ..", :required => true %>
                    </div>
                  </div>
                  <div class="form-actions">
                    <%= button_tag "Preview", :class => "btn btn-primary report-preview-submit", :remote => true %>
                    <%= f.submit 'Export', :class => "btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  <div id="report-preview-list">
  </div>
</div>

<script type="text/javascript">
  $('select').chosen();
</script>