<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BandungBangkitBersinar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bandung Bangkit Bersinar">
    <meta name="author" content="">
    <!-- The styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- <link rel="shortcut icon" href="/assets/favicon.ico" /> -->
    <%= csrf_meta_tags %>
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/assets/html5.js"></script>
    <![endif]-->
    <!-- The fav icon -->
    <%= stylesheet_link_tag "responsive-tables" %>

    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag "responsive-tables" %>
  </head>
  <body>
    <%= render "shared/topbar" if current_user %>
    <div class="container-fluid">
      <div class="row-fluid">
        <%= render 'shared/left_menu' if current_user %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'jpicker-1.1.6.min' %>
  </body>
</html>